---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🎃Hi, Pumpkin!</h1>
			<p>
			Welcome to my official website. This site is still under construction so you may will encounter some glitches and see its evolution over time - don't worry!
			</p>
			<p>
			I created this website to showcase my work share topics that interest me.
			</p>
			<p>
			If you are here, it's likely because you saw my <a href="https://github.com/mumpkin" target="_blank">GitHub profile</a>. As you may already know, I enjoy programming, but I'll also discuss about internet privacy, video games, cinema, and few other subjects that captivate me (and hopefully you to!).
			</p>
		</main>
		<Footer />
	</body>
</html>
